//*****MAIN INTERFACE STYLES*****//

//*****FONTS CONNECTING*****//


//*****RESET UNUSABLE DEFAULT STYLES*****//
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: $mainFont;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}
button{
    all: unset;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

//*****MAIN CLASSES*****//

//*****CONTAINER OF ALL CONTENT*****//
.container{
    max-width: $maxWidth + px;
    min-width: $minWidth;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}
//*****CONTAINER OF BLOCK*****//
.wrapper{
    max-width: $maxWidthContainer;
    margin: auto;
    @include desktop{
        max-width: 970px;
    }
    @include laptop{
        max-width: 750px;
    }
    @include tablet{
        max-width: none;
        padding-left: 60px;
        padding-right: 60px;
    }
    @include phone{
        padding-left: 30px;
        padding-right: 30px;
    }
    @include sm-phone{
        padding-left: 10px;
        padding-right: 10px;
    }
}

//*****MAIN BLOCK STYLES*****//
.section{
    padding-top: 80px;
    padding-bottom: 80px;
}
//*****TITLES*****//
//*****INFO*****//
//*****LINK*****//
//*****BUTTON*****//
