//*****MAIN INTERFACE STYLES*****//

//*****FONTS CONNECTING*****//


//*****RESET UNUSABLE DEFAULT STYLES*****//
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
}

button{
    all: unset;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

//*****MAIN CLASSES*****//

//*****CONTAINER OF ALL CONTENT*****//
.container{
    max-width: $maxWidth;
    min-width: $minWidth;
    margin: auto;
}

//*****CONTAINER OF BLOCK*****//
.wrapper{
    max-width: $maxWidthContainer;
    margin: auto;
    @include desktop{
        max-width: 970px;
    }
    @include laptop{
        max-width: 750px;
    }
    @include tablets{
        max-width: none;
        padding: 0 60px;
    }
    @include phones{
        padding: 0 30px;
    }
    @include sm-phones{
        padding: 0 10px;
    }
}

//*****MAIN BLOCK STYLES*****//
.section{
    padding: 60px 0px;
}
//*****TITLES*****//
//*****INFO*****//
//*****LINK*****//
//*****BUTTON*****//
