@mixin adaptiveFont($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin responseImg{
    width: 100%;
    object-fit: cover;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin backgroundImg($url, $default-color: black, $size: cover, $top: center, $left: center){
    background-image: $default-color $url;
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $top $left;
}
    


@mixin desktop{
    @media screen and (max-width: 1200px){
        @content
    } 
}
@mixin laptop{
    @media screen and (max-width: 992px){
        @content
    }
}
@mixin tablets{
    @media screen and (max-width: 768px){
        @content
    } 
}
@mixin phones{
    @media screen and (max-width: 480px) {
        @content
    }
}
@mixin sm-phones{
    @media screen and (max-width: 320px) {
        @content
    }
}

    

    